  <div>
	<h1>{{buttonLabel}} Employee</h1>
    <form [formGroup]="employeeForm" (submit)="submit()">
      <label> SAP ID </label>
    	<input type="text" formControlName="sapId" id="sapId"/>
      <label> First Name </label>
        <input type="password" formControlName="firstName" id="firstName"/>
      <label> Last Name </label>
    	<input type="text" formControlName="lastName" id="lastName"/>
      <label> Email </label>
    	<input type="text" formControlName="email" id="email"/>
      <label> Position </label>
    	<input type="text" formControlName="position" id="position"/>
        <button type="submit" [disabled]="!employeeForm.valid" class="btn btn-primary btn-block btn-large" >{{buttonLabel}}</button>
    </form>
</div>